/.idea
/venv*
/BenchmarkData
/cross_val
/other
/pyKEEN
/results
/train_test_data
/playground*
/test/test_data/*.csv
/test/test_data/*.txt
/test/test_data/*.tsv
/test/test_data/graph_files
/test/test_data/in_files
__pycache__
/test/test_data/train_test_data
playground*
/test_venv

/o_files
/src/openbiolink.egg-info
/in_files
/graph_files
/evaluation

docs/build